* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* banner style */
.banner {
    background-image: url(../images/banner/banner3.png);
    width: 1600px;
    height: 808px;
    background-repeat: no-repeat;
    padding: 195px 306px 0 1000px;
}

.content-titel {
    width: 525px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;

}

.content-description {
    width: 494px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;


}

.btn-primary {
    border: 0;
    width: 160px;
    padding: 20px 25px;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;


    color: #005FAC;
}

/* first section style */
.first-section {
    width: 1072px;
    height: 723.3px;
}

.section-container {
    display: flex;
    align-items: center;
    margin: 95px 322px 0;

}

.section-titel {
    width: 288px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;

}

.section-div {
    margin-top: 200px;
    margin-left: 50px;
}

/* second section style */
.second-container {
    margin: 0 230px;
    display: flex;
    width: 1141px;
    height: 202.96px;
    justify-content: space-around;


}

.section-second-titel {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin: 60px 0 80px 0;
}

/* third section style */
.third-section {
    width: 1140px;
    height: 300px;
    background-image: url(../images/gradient1.png);
    border-radius: 7px;
    margin-left: 230px;
    margin-top: 30px;
}

.third-caption {
    width: 459px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding: 50px 617px 10px 64px;
}

.button2 {
    padding: 0 916px 59px 64px;
}

.footer {
    width: 1600px;
    height: 577px;
    background-color: #151414;
}

.footer-titel {
    width: 148px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.footer-content {
    color: #FFFFFF;
    font-size: 16px;
    width: 485px;
}